<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EditSummernote">
	<insert id="summernoteFile">
		insert into editSummernoteFile
		values(#{editNotice_seq},
		#{editNotice_sysName})
	</insert>
</mapper>