<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyInfo">
	<select id="myInfo" resultType="kh.picsell.dto.MemberDTO">
		select * from member where nickname = #{nickName}
	</select>
	
	<update id="infoModify" parameterType="kh.picsell.dto.MemberDTO">
		update member set name=#{name}, nickname=#{nickname}, email=#{email}, email_receive=#{email_receive}
		where id=#{id}
	</update>
	
	<select id="currentPwCheck" resultType="String">
		select pw from member where nickname = #{nickname}
	</select>
	
	<update id="modifyPw" parameterType="String">
		update member set pw=#{pw} where nickname=#{nickname}
	</update>
	
	<update id="modiprofileimg" parameterType="kh.picsell.dto.MemberDTO">
		update member set profileimg = #{profileimg} where nickname = #{nickname}
	</update>
</mapper>