<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="imageup">
	<insert id="insert" parameterType="kh.picsell.dto.WriterImageUpDTO">
		insert into writer_image_Up values(img_seq.nextval,'nickname',#{usage},#{copyright},#{tag},#{file_extension}, #{oriname}, #{sysname},#{img_size},#{make},#{model},#{xDimension},#{yDimension},#{sysname_watermark},0,0,0,'N',sysdate)
	</insert>
	
		<select id="select" parameterType="String" resultType="kh.picsell.dto.WriterImageUpDTO">
		select * from writer_image_Up where nickname = 'nickname'
		</select>
		
		<select id="selectSysName" parameterType="java.util.Map" resultType="kh.picsell.dto.WriterImageUpDTO">
			select * from (select imageup.*, row_number() over(order by img_seq ) as rown from ImageUp) where rown between #{start} and #{end} and  nickname = 'nickname'
		</select>
</mapper>